#board {
    display: grid;
    grid-template-columns: repeat(5, 70px);
    gap: 10px;
    margin-bottom: 20px;
    margin-left: 20.5%;
}

.tile {
    width: 70px;
    height: 70px;
    border: 3px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
}

.correct {
    background-color: #4caf50;
    color: black;
}

.present {
    background-color: #ecec14;
    color: black;
}

.absent {
    background-color: gray;
    color: black;
}

#keyboard {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;  /* Fixed width */
    height: 60px; /* Fixed height */
    background-color: #ffffff;
    border: 2px solid #ccc;
    cursor: pointer;
    text-transform: uppercase;
    user-select: none;
    font-size: 18px;
    font-weight: bold;
    color: black;
    transition: background-color 0.2s;
}

.key.delete, .key.enter {
    width: 100px;  /* Adjusted width for larger keys */
    height: 60px; /* Same height to keep them aligned */
    font-size: 16px;
}

.key:active {
    background-color: #ddd;
}

.key.absent {
    background-color: gray;
    color: white;
}

.key.present {
    background-color: #ecec14;
}

.key.correct {
    background-color: #4caf50;
    color: white;
}